<form id="scrapeForm" class="form">
    <div class="form-group mb-2">
        <label for="scrapeDD" class="mr-5">Choose A Kinja Site to Scrape</label>
        <div align="center">
            <select class="form-control" id="scrapeDD">
                <option>Gizmodo</option>
                <option>Kotaku</option>
                <option>io9</option>
                <option>Deadspin</option>
                <option>Jalopnik</option>
                <option>A.V. Club</option>
                <option>Earther</option>
                <option>Jezebel</option>
                <option>Lifehacker</option>
                <option>Splinter</option>
                <option>Takeout</option>
                <option>The Root</option>
                <option>The Onion</option>
            </select>
        </div>
    </div>
    <button id="scrapeBtn" class="btn btn-primary mb-2">Start Scrape</button>
</form>