<div class="jumbotron text-center">
    <h1> Kinja Platform Scraper</h1>
    <h3 id="articleCount"></h3>
    <div class="row">
        <div class="col-12">
            <% include ./form %>
        </div>
    </div>
    
</div>