<!DOCTYPE html>
<html lang="en-us">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container-fluid">
        <% include ../partials/jumbo %>
        <div id="headlines"></div>
    </div>

    <% include ../partials/footer %>
</body>

</html>